* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 450px;
  background-image: url(../img/pexels-photo-248515.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image {
  background-color: rgba(51, 51, 51, 0.5);
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  color: white;
  align-items: center;
}

.bg-image > p {
  display: inline-block;
  width: 80%;
  max-width: 880px;
}

.bg-image > a {
  padding: 1em 2em;
  border: 1px solid #666;
  max-width: 180px;
  background-color: #333333;
}

.bg-image > a:hover {
  background-color: #eaeaea;
  color: #333;
}

.section-a {
  background-color: #eaeaea;
  padding: 30px;
}

.section-a > h2 {
  margin-bottom: 40px;
}
.section-a > p {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5;
}
@media screen and (min-width: 700px) {
  .section-a > p {
    max-width: 950px;
    columns: 2 auto;
    column-gap: 30px;
  }
}

.section-b {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  padding: 30px 20px;
  gap: 20px;
}

.section-b > article {
  background-color: #eaeaea;
}
.section-b > article > h3 {
  padding: 20px;
}
.section-b > article > p {
  padding: 10px 20px 37px;
}

.image {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .section-b {
    flex-direction: row;
    justify-content: center;
  }

  .section-b > article {
    max-width: 272px;
  }
  .image {
    max-width: 272px;
  }
}

.section-c {
  padding: 35px;
}

.section-c > h2 {
  padding: 26px 0;
}

.section-c > p {
  display: inline-block;
  padding: 12px 0;
  max-width: 880px;
}

.section-d {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .section-d {
    flex-direction: row;
  }
  .section-d > article {
    width: 50%;
  }
}

.section-d > article {
  padding: 35px;
  color: #eaeaea;
  background-color: #333;
}

.section-d > article > h2 {
  padding: 26px 0;
}

.section-d > article > p {
  padding: 17px 0;
}

.section-d > article:first-child {
  background-color: #2690d4;
}

footer {
  padding: 35px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #eaeaea;
}

footer > div > a {
  color: #2690d4;
}

@media screen and (min-width: 700px) {
  footer {
    flex-direction: row;
  }
  footer > div {
    width: 50%;
  }
}
