* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 450px;
  background-image: url(../img/pexels-photo-248515.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image {
  background-color: rgba(51, 51, 51, 0.4);
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  color: white;
  align-items: center;
  /* text-align: center; */
  line-height: 1.5;
}

.bg-image > h1 {
  font-size: 2em;
}

.bg-image > p {
  font-size: 1.1em;
  /* text-align: center; */
  width: 50%;
}

.bg-image > a {
  font-size: 1.1em;
  line-height: 1.5;
  padding: 1em 2em;
  border: 1px solid #666;
  max-width: 160px;
  background-color: #333333;
}

.section-a {
  background-color: #eaeaea;
  color: #333;
  padding: 30px;
}

h2 {
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  .section-a{
    padding-left: 200px;
padding-right: 200px;
    column-count: 2;
    column-width: 300px;
    column-gap: 20px;
  }
  .section-a h2{
    column-span: all;
  }
}
